<footer class="footer">
  <small>
    The Projectz! project management solution by <a href="http://xyious.com/">Alexander Knopf</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
